In [2]:
import pandas as pd
import numpy as np

In [3]:
test_files = ['../data/lgb.csv.gz',
             '../data/xgb.csv.gz']
val_files = ['../data/lgb_val.pickle',
            '../data/xgb_val.pickle']

In [4]:
dfs_test = [pd.read_csv(f) for f in test_files]

          click_id  is_attributed
0                0       0.069600
1                1       0.060957
2                2       0.011074
3                3       0.044693
4                4       0.011580
5                5       0.040128
6                6       0.013818
7                7       0.062973
8                9       0.037950
9                8       0.000923
10              10       0.076687
11              11       0.012858
12              12       0.009364
13              13       0.098466
14              14       0.012266
15              15       0.003277
16              16       0.153757
17              20       0.003277
18              19       0.104504
19              17       0.011730
20              18       0.006560
21              21       0.087428
22              22       0.027547
23              23       0.009292
24              24       0.000584
25              25       0.043081
26              26       0.029643
27              27       0.068460
28              28       0.000182
29              29       0.009568
...            ...            ...
18790439  18790438       0.073317
18790440  18790440       0.007686
18790441  18790441       0.030139
18790442  18790442       0.001929
18790443  18790443       0.006626
18790444  18790444       0.004429
18790445  18790445       0.022675
18790446  18790446       0.002120
18790447  18790447       0.008042
18790448  18790448       0.042283
18790449  18790449       0.008120
18790450  18790450       0.000582
18790451  18790451       0.008633
18790452  18790452       0.005361
18790453  18790453       0.149376
18790454  18790455       0.005157
18790455  18790454       0.241501
18790456  18790456       0.025213
18790457  18790457       0.023418
18790458  18790458       0.059704
18790459  18790459       0.049154
18790460  18790460       0.082163
18790461  18790462       0.006298
18790462  18790461       0.019688
18790463  18790463       0.028403
18790464  18790464       0.102665
18790465  18790465       0.000297
18790466  18790467       0.012043
18790467  18790466       0.035238
18790468  18790468       0.020228

[18790469 rows x 2 columns]

In [ ]:
import pickle
dfs_val = []

In [3]:
dtypes = {
    'click_id': 'int',
    'is_attributed': 'double'
}

In [15]:
for tdf, weight in zip(dfs[0: ], weights):
    df['is_attributed'] += tdf['is_attributed'] * weight

In [20]:
df.to_csv('../data/blend.csv', index=False)