In [1]:
import pandas as pd
import numpy as np

In [ ]:
# create negtive sample
#neg_df = df[df.is_attributed == 0]
#sample_neg_f = neg_df.sample(frac=0.01)
#sample_neg_f.to_csv('../data/train_neg_sample.csv', index=False)
#df = pd.concat([pd.read_csv('../data/train_neg_sample.csv'), pd.read_csv('../data/train_pos.csv')], ignore_index=True).sample(frac=1)

In [2]:
df = pd.read_csv('../data/train_pos.csv')

In [7]:
def extract(t):
    return t[0: 10], t[11: 13], t[14: 16], t[17: 19]
df["date"] = df["hour"] = df["minute"] = df['second'] = ""
df[["date", "hour", "minute", 'second']] = list(df.click_time.apply(extract))

In [14]:
def extract(t):
    t = int(t[11: 13]) * 60 + int(t[14: 16])
    return t, t // 5
df['time_int'] = df['time_category'] = ""
df[['time_int', 'time_category']] = list(df.click_time.apply(extract))

In [15]:
df.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed,time,time_int,time_category
0,204158,35,1,13,21,2017-11-06 15:41:07,2017-11-07 08:17:19,1,188,941,188
1,29692,9,1,22,215,2017-11-06 16:00:02,2017-11-07 10:05:22,1,192,960,192
2,64516,35,1,13,21,2017-11-06 16:00:02,2017-11-06 23:40:50,1,192,960,192
3,172429,35,1,46,274,2017-11-06 16:00:03,2017-11-07 00:55:29,1,192,960,192
4,199085,35,1,13,274,2017-11-06 16:00:04,2017-11-06 23:04:54,1,192,960,192

In [33]:
g = df.groupby('date').agg({'is_attributed': ['sum', 'count']})
g[('is_attributed', 'ratio')] = g[('is_attributed', 'sum')].div(g[('is_attributed', 'count')])

In [30]:
for f in ['ip', 'app', 'device', 'os', 'channel']:
    print(f, len(df[f].unique()))
    #df[f].value_counts()

ip 96623
app 322
device 589
os 226
channel 171

In [1]:
24 * 60

1440

In [32]:
3600 * 24 / 60 * 5

7200.0